* {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(19, 18, 18);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

.calc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(57, 57, 57);
    padding: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px black;
    border-radius: 25px;
}

input 
{
    font-size: 1.5em;
    background-color: rgb(40, 39, 39);
    color: white;
    border: none;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 20px 20px 0px 0px;
    box-shadow:inset 0px 1px 5px 0px black;
}
input:focus {
    outline: 1px solid rgb(40, 39, 39);
}

.but {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

button {
    color: white;
    background-color: rgb(57, 57, 57);
    font-size: 1.7em;
    border-radius: 15px;
    border: none;
    height: 70px;
    transition: 0.25s;
}

button:hover {
    background-color: rgb(79, 79, 79); 
}

.x {
    color: rgb(6, 191, 86);
    font-size: 2em;
}

.eq {
    background-color: rgb(6, 191, 86);
}
.eq:hover {
    background-color: rgb(6, 90, 42);
}