* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #111413;
    color: #d6d6d6;
    margin: 0;
    padding: 0;
    justify-content: center;
    overflow: scroll;
    scrollbar-color: #ed2525 #0e0e0e;
    overflow-x: hidden
}
.about::-webkin-scrollbar {
    width: 0;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 30px    
}

    
/* زرار القائمة (الهامبرجر) */
.menu-btn {
    display: none;
    cursor: pointer;
    font-size: 24px;
}
    
/* اخفاء checkbox */
#menu-toggle {
    display: none;
}

header {
    background-color: #0e0e0edf;
    padding: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: -5px;
    z-index: 100;
    box-sizing: border-box;
}

header img{
    border-radius: 50%;
    width: 50px;
    border: solid 2px #1a1a1b;
    margin: auto 20px auto 30px;
    background-color: #143a69;
}

header nav {
    padding:10px ;
    margin-right: 10px ;
    display: flex;
    gap: 50px;
}

header a{
    font-size: 1.1em;
    text-decoration: none;
    width: fit-content;
    color: #a7a7a7;
    transition-duration: 0.3s;
}

header a:hover{
    color: #396dac;
    transform: scale(1.03);
}

.profile_section {
    margin-top: 120px;
    padding: 20px;
}


.image{
    width: 380px;
    padding: 0px;
    float: right;
    clear: both;
    position: relative;
    right: 8%;
    border-radius: 50%;
}

.image img {
    max-width: 100%;
    border: 3px solid rgb(23, 23, 23);
    border-radius: 50%;
    transition-duration: 0.4s;
}

.image img:hover{
    transform: scale(1.05);
}

.image::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: -4%;
    left: -2%;
    width: calc(100% + 5%);
    height: calc(100% + 5%);
    background-image: linear-gradient(45deg, #081472, #2c2f88, #5d66ba, #8699f5, #081472);
    border-radius: 50%;
    filter: blur(10px);
    opacity: 1;
    background-size: 500%;
    transition: apacity 0.3s ease-in-out;
    animation: x 20s linear infinite forwards;
}

@keyframes x {
    0% { background-position: 0 0; }

    50% {background-position: 1000% 0;}

    100% {background-position: 0 0;}
}

.page {
    border-radius: 30px;
    padding: 0px 0px 20px 20px;
    margin: 0px 20px 20px 20px;
    width: 55%;
    position: relative;
    top: -30px;
}

.page b{
    color: #396dac;
    font-size: 3.8em;
    position: relative;
    top: -35px;
}

.page h1{
    font-size:2em;
}

.page p{
    font-size:1.7em;
    font-weight: bold;
    color: #c6c6c6;
    position: relative;
    top: -40px;
}

.page span {
    font-family: "Tilt Prism", sans-serif;
    font-size: 1.2em;
    color: #396dac;
}

.page h3{
    color: #999999;
    font-weight: 400;
    transform: translateY(-50%);
}


.page a {
    text-decoration: none;
    font-size: 0.7em;
    margin: 0px 15px 15px 0px;
    border-radius: 50%;
    border: solid 2px #396dac;
    padding: 18px 13px 10px 13px;
    transition-duration: 0.3s;
    box-shadow: 0px 0px 10px 0px #143a69;
}

.page a:hover{
    background-color: #2663ae2c;
}

.page img {
    color: #396dac;
    width: 16px;
    padding-top: 10px;
}

.page .btn {
    width: fit-content;
    background-color: #396dac;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 0px 0px 10px 0px #143a69;
    position: relative;
    top: 40px;
}

.page .btn:hover {
    background-color: #336098;
}

.page .btn_contact {
    display: inline-block;
    width: fit-content;
    background-color: #1E201E;
    box-shadow: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition-duration: 0.3s;
    border: #656c71 solid 1px;
    position: relative;
    top: 40px; 
}
.page .btn_contact:hover {
    background-color: #2c2f30;
    border: #396dac solid 1px;
}

.about{
    padding: 50px 30px 80px 30px;
    margin-top:180px;
    margin-bottom: 30px;
    background-color: #1E201E;
}


.about h1, .skills h1, .my_projects h1 {
    display: block;
    text-align: center;
    font-size: 2.8em;
    font-weight:1000px;
    width: fit-content;
    margin: auto;
    padding: 0px 0px 50px 0px;
}

.about_me {
    display: flex;
    gap: 100px;
}

.about border, .skills border, .my_projects border {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px 0px ;
    border-bottom: #396dac solid 5px;
}

.about strong{
    color: #396dac;
    font-size: 1.2em;
    font-weight: 700;
}

.about h2 {
    font-size: 2em;
    font-weight: 650;
}

.about p {
    font-size: 1.3em;
    line-height: 2em;
    color: #b5b5b5;
}

.list{
    background-image: linear-gradient(to right, #131414fe, #181818f0);
    border-radius: 15px;
    width: fit-content;
    padding: 8px;
}

.about li{
    padding: 4px;
    font-size: 1.2em;
    color: #b5b5b5;
    list-style-type:none;
}
.about li::before {
    content: "✓"; /* الرمز الذي تريد إضافته */
    color: #396dac; /* لون الرمز */
    display: inline-block; /* لجعل الرمز يظهر بجانب النص */
    width: 1.2em; /* عرض المساحة المخصصة للرمز */
    margin-right: 5px; /* مسافة بين الرمز والنص */
    font-weight: bold; /* جعل الرمز عريض */
}

.skills{
    padding: 20px 20px 35px 20px;
    margin-top: 120px;
    margin-bottom: 30px;
    text-align: center;
}

.tag {
    display: inline-block;
    background-color:  #2d2f32e3;
    padding: 15px 25px;
    border-radius: 7px;
    margin: 10px;
    margin-top: 30px;
    font-size: 1.1em;
    box-shadow: 0px 0px 10px 2px #1a1a1b;
    transition: 0.3s;
}

.tag img {
    width: 65px;
    margin: 5px;
    display: flex;
    justify-self: center;
    position: relative;
    top: -5px;
}

.tag:hover {
    background-color: #396dac2b;
    transform: scale(1.05);
}

.my_projects {
    padding: 20px 20px 50px 20px;
    margin: 170px auto 0px auto;
    background-color: #1E201E;
}

.my_projects b {
    color: #396dac;
    font-size: 1.2em;
    font-weight: 700;
    margin: 20px;
}

.all_projects {
    padding: 30px 5px 30px 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.projects {
    background-color: #0f10117e;
    border: #484848 solid 1.5px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgb(14, 14, 14);
}

.projects .photo {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
}
.photo img {
    width: 100%;
    height: 100%;
    transition-duration: 0.7s;
}

.projects img:hover {
    transform: scale(1.08);
    border: #0e0e0e solid 1.5px;
}

.projects h2,.projects p {
    display:flex;
    padding-left: 5px;
    margin: 20px;
}

.projects h2 {
    font-size: 1.6em;
    padding-top: 20px;
    margin-top: -10px;
    display: flex;
}
.projects p {
    font-size: 1.1em;
    color: #b5b5b5;
}

.projects .work {
   padding-left: 20px;
   margin-top: 20px;
   width: fit-content;
}
    
.work h4 {
    background-color: #3e6cbb25; 
    color: #1d4fa4;
    font-weight: 400;
    padding: 1px 15px;
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
    display: inline-block;
}

.projects a {
    display: inline-block;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #396dac;
    box-shadow: 0px 0px 10px 0px #143a69;
    transition-duration: 0.3s;
}

.projects a:hover {
    background-color: #295182;
}

.link {
    width: fit-content;
    display: flex;
    padding: 20px 20px 20px 30px;
}

.move:hover {
    transform: none;
    border: none;
}

.social {
    text-align: center;
    background-image: url("img/p-1093.gif");
    background-size: cover;

    border-top: #282828 solid 1.5px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.social strong{
    color: #396dac;
    font-size:1.2em;
    font-weight: 700;
}

.social h1{
    font-size: 2.7em;
    font-weight: 650;
}

.social span{
    border: #282828 2px solid;
    border-radius: 18px;
    padding: 5px 50px 5px 50px;
    display:inline-block;
    margin: 15px;
    width: 200px;
    transition-duration: 0.3s;
}

.phone h3, .email h3, .location h3{
    margin-top: 10px;
}

.phone p, .email p, .location p{
    margin-top: -17px;
    color: #959494;
}

.phone img, .email img, .location img {
    width: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #145180;
}

.social span:hover{
    transform: scale(1.05);
    background-image: linear-gradient(to right, #0c0c0cfe, #0a0a0a);

}

.accounts{
    margin-top: 20px;
    margin-bottom: 50px;
}

.accounts a{
    text-decoration: none;
    color: #d6d6d6;
    font-size: 1.1em;
    margin: 0px 15px 15px 15px;
    border-radius: 50%;
    border: solid 1px #282828;
    padding:18px 14px 10px 14px;
    transition-duration: 0.3s;
}

.accounts img {
    width: 22px;
    padding-top: 10px;
}

.accounts a:hover{
    background-color: #191919dc;
}
.social nav {
    display: inline-block;
    padding: 15px;
}
.social nav a {
    color: #d6d6d6;
    text-decoration: none;
    font-size: 1.3em;
    border: solid 1px #384d72;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: #153964;
    transition-duration: 0.3s;
    box-shadow: 0px 0px 5px 0px #143a69;
}

.social nav:hover a{
    background-color: #0e2c53;
    font-size: 1.35em;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #101010;
    font-size: 0.9em;
    border-top: solid 2px #3a3a3a;
}

footer p{
    margin: 0;
    font-size: 1.15em;
    color: #b9b9b9;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#contact:active{
    transition-duration: 1s;
}

/* --------------------------------------------------------------------------------------------- */ 

@media (max-width: 999px) {
    .image{
        float: none;
        margin: auto;
        display: block;
        margin: 0px auto 80px auto;
        width: 50%;
        position: none;
        right: 0;
    }

    .page{
        width: 90%;
        margin: auto;
        text-align: center;
        top: -20px;
    }


    .page h1 {
        padding-right: 5px;
        font-size: 1.8em;
    }

    .profile_section {
        margin-top: 100px;
        padding: 20px;
    }

}

/* --------------------------------------------------------------------------------------------- */

@media (max-width: 1400px) {
    .about li {
        font-size: 1rem;
    }

    .about_me {
        gap: 30px;
}

}

@media (max-width: 1300px) {
    .about li {
        font-size: 1.2rem;
    }

    .about_me {
        display: block;
    }

}

@media (max-width: 1300px) and (min-width: 1000px) {
    .image{
        width: 30%;
        right: 3%;
        
    }

}

/* ------------------------------------------------------------------------------------------------ */

@media (max-width: 780px) and (min-width: 500px) {

    .all_projects {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 20px;  
    }

}

/* --------------------------------------------------------------------------------------------- */

@media (max-width: 610px) {
    .nav-links {
        position: absolute;
        top: 72px;
        left: -100%;
        flex-direction: column;
        background: #0e0e0edf;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 20px;
        text-align: left;
        transition: 0.3s;
        box-sizing: border-box;
    }
    
    header a {
        width: fit-content;
        margin: 0;
    }

    header a:hover {
        color: #396dac;
        font-size: 1.15em;
    }
    
    /* إظهار عند التفعيل */
    #menu-toggle:checked~.nav-links {
        left: 0;
    }
    
    .menu-btn {
        display: block;
    }

    .page b {
        color: #396dac;
        font-size: 3em;
        position: relative;
        top: -25px;
    }

    .page h1 {
        font-size: 1.7em;
    }

    .page p {
        font-size: 1.5em;
        font-weight: bold;
        color: #c6c6c6;
        position: relative;
        top: -18px;
    }

    .page span {
        font-family: "Tilt Prism", sans-serif;
        font-size: 1.2em;
        color: #396dac;
    }

    .page h3 {
        font-size: 1.1em;
        transform: translateY(-20%);
    }

}

/* --------------------------------------------------------------------------------------------- */

@media (max-width: 480px) {

    .page b {
        color: #396dac;
        font-size: 2.3em;
        position: relative;
        top: -20px;
    }
    
    .page p {
        font-size: 1.1em;
        font-weight: bold;
        color: #c6c6c6;
        position: relative;
        top: -18px;
    }
    
    .page span {
        font-family: "Tilt Prism", sans-serif;
        font-size: 1.3em;
        color: #396dac;
    }

}

/* --------------------------------------------------------------------------------------------- */

@media (max-width: 445px) {

    .about li {
        font-size: 1rem;
    }

    .my_projects h1 {
        font-size: 2.2rem;
    }

    .about h2 {
        font-size: 1.7em;
        
    }
    
    .about p {
        font-size: 1.1em;
    }

    .all_projects {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 25%;
        gap: 20px;  
    }

    .projects .photo {
        height: 180px;
    }

}

/* -------------------------------------------------------------------------------------------- */

@media (max-width: 385px) {

    .about li {
        font-size: 0.8rem;
    }

    .page b {
        color: #396dac;
        font-size: 2.1em;
        position: relative;
        top: -20px;
    }
        
    .page p {
        font-size: 1em;
        font-weight: bold;
        color: #c6c6c6;
        position: relative;
        top: -18px;
    }
        
    .page span {
        font-family: "Tilt Prism", sans-serif;
        font-size: 1.2em;
        color: #396dac;
    }

    .projects h2 {
        font-size: 1.5em;
        padding-top: 15px;
        margin-top: -5px;
        display: flex;
    }

    .projects p {
        font-size: 1em;
    }

}